@tailwind base;
@tailwind components;
@tailwind utilities;

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

.outerCircle {
    height: 300px;
    width: 300px;
    border-radius: 60%;
    padding: 40px;
    box-shadow:-6px -6px 10px -1px rgba(255, 255, 255, 0.7), 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;
}

.innerCircle {
    height: 220px;
    width: 220px;
    border-radius: 60%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), 
    -0.5px -0.5px 0px rgba(255,255,255,1),
    0.5px 0.5px 0px rgba(255, 255, 255, 1),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height:1;
}

.calories {
    font-size: 50px;
}

.remaining {
    font-size: 20px;
}